---
type Props = {
  label: string;
};

const { label } = Astro.props;
---

<span class="inline-flex items-center rounded-full border border-black/10 bg-black/5 px-2.5 py-1 text-xs font-medium text-black/75 dark:border-white/15 dark:bg-white/5 dark:text-white/80">
  #{label}
</span>
