---
type Props = {
  id: string;
  title?: string;
};

const { id, title = "YouTube video player" } = Astro.props;
---

<div class="not-prose my-8 w-full">
  <iframe
    class="block aspect-video h-auto w-full rounded-xl border-0"
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
